main {
  .projet-container {
    display: flex;
    flex-wrap: wrap;
  }
  .carousel-flipp {
    display: none;
  }

  &.mobile {
    .projet-container {
      display: none;
    }
    .carousel-flipp {
      display: block;
    }
  }
}
