.front-content {
  display: flex;
  flex-direction: column;
  border: 10px solid #000;
  height: 100%;
  background: #000;
  align-items: center;
  justify-content: space-evenly;
  .description {
    font-size: 0.5rem;
  }
}
.back-content {
  display: flex;
  flex-direction: column;
  border: 10px solid #000;
  height: 100%;
  background: #000;
  align-items: center;
  justify-content: space-evenly;
  .btn-container-back {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .description {
    font-size: 0.5rem;
  }
}
