.front-content {
  border: 10px solid #000;
  height: 100%;
  background: #000;
  .description {
    font-size: 0.5rem;
  }
}
.back-content {
  border: 10px solid #000;
  height: 100%;
  background: #000;
  .description {
    font-size: 0.5rem;
  }
}
