.popup-overlay {
  z-index: 1001 !important;
}

.modal {
  background-color: #7c7a7a;
  color: rgb(36, 34, 34);
  width: 80%;
  height: 85vh;
  margin: auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    position: absolute;
    right: 0;
  }
  img {
    max-width: 55%;
    margin-bottom: 2rem;
  }
  ul {
    margin-top: 1rem;
    padding: 1rem;

    text-align: center;
    list-style: none;
  }
}
