article {
  width: 80%;
}
.styles__card___2P_1t {
  margin: 0rem auto 6rem !important;
}
.front-content {
  display: flex;
  flex-direction: column;
  border: 5px solid #a1a1a1a5;
  height: 100%;
  background: #000;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 60%;
    padding: 0.2rem;
    border: 1px solid #ffffff;
    animation: bounce 2s infinite;
  }
  .description {
    font-size: 0.5rem;
  }
}
.back-content {
  display: flex;
  flex-direction: column;
  border: 5px solid #69606073;
  height: 100%;
  background: #000;
  align-items: center;
  justify-content: space-evenly;
  .btn-container-back {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .description {
    font-size: 0.5rem;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  0% {
    transform: scale(1);
  }
}
